* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #060606;
    font-family: "Montserrat";
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 33px 10% 20px 10%;
}

.logo {
    text-decoration: none;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 50px;
    height: 36px;
    padding-right: 17px;
}

.header-name {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.header-links a {
    color: gray;
    text-decoration: none;
    margin-right: 25px;
    font-size: 16px;
}

.header-links a:nth-child(5) {
    margin-right: 0;
}

.header-links a:nth-child(4) {
    border: 1px solid gray;
    padding: 10px 19px;
    border-radius: 5px;
}

.header-links a:nth-child(4):hover {
    border: 1px solid white;
    padding: 10px 19px;
    border-radius: 5px;
}

.header-links a:hover {
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 102px 0 181px 0;
}

.hero-content {
    max-width: 624px;
}

.hero-title {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    animation: animation 1s forwards;
    padding-bottom: 23px;
}

.hero-description {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    animation: animation 1s forwards;
    margin: 0;
    margin: 0 0 25px 0;
}

.hero-button {
    display: inline-flex;
    justify-content: center;
    padding: 10px 20px;
    color: gray;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    animation: animation 1s forwards;
    margin-bottom: 41px;
    font-weight: 400;
}

.hero-button:hover {
    border: 1px solid white;
    color: white;
}

.hero-image {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.features {
    display: grid;
    justify-content: center;
    height: 400px;
    margin-bottom: 138px;
    opacity: 0;
}

.is-visible {
    opacity: 1;
}

.feature.is-visible:nth-child(1) {
    align-self: end;
    animation: animation 1s forwards;
    animation-delay: 0.2s;
}

.feature.is-visible:nth-child(2) {
    align-self: center;
    animation: animation 1s forwards;
    animation-delay: 0.4s;
}

.feature.is-visible:nth-child(3) {
    align-self: start;
    animation: animation 1s forwards;
    animation-delay: 0.6s;
}

.features .feature:nth-child(1) {
    align-self: end;
}

.features .feature:nth-child(2) {
    align-self: center;
}

.features .feature:nth-child(3) {
    align-self: start;
}

.features-title {
    color: white;
    margin: 0;
    font-size: 32px;
    animation: animation 1s forwards;
}

.feature-name {
    font-size: 32px;
}

.features-list {
    display: flex;
    gap: 22px;
}

.feature {
    max-width: 327px;
    display: block;
    color: gray;
    border: 1px solid gray;
    padding: 25px 32px 25px 32px;
    border-radius: 6px;
    cursor: pointer;
}

.feature:hover {
    border: 1px solid white;
    color: white;
}

.feature h3 {
    margin: 0;
    color: white;
    font-weight: 500;
    padding-bottom: 17px;
}

.feature p {
    margin: 0;
    font-size: 16px;
}

.feature-description {
    line-height: 30px;
}

.service-support {
    color: white;
    font-weight: 600;
    font-size: 32px;
}

.service-title {
    max-width: 328px;
}

.services {
    display: flex;
    justify-content: center;
    margin-bottom: 148px;
}

.service-plans {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.service-name {
    color: white;
    margin: 0;
    padding-bottom: 15px;
    width: 185px;
}

.service {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 14px 106px 16px 27px;
    border-radius: 5px;
    gap: 27px;
    max-width: 328px;
}

.service-description {
    color: gray;
    margin: 0;
    width: 140px;
}

.service-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    max-width: 700px;
    padding-left: 19px;
}

.block {
    gap: 47px;
    display: grid;
    justify-content: center;
    margin-bottom: 133px;
}

.block-info {
    display: flex;
    max-width: 1024px;
    color: white;
    gap: 45px;
}

.block-name {
    font-size: 32px;
    margin: 13px 0 32px 0;
}

.block-description {
    color: gray;
    margin: 0 0 20px 0;
    line-height: 26px;
    max-width: 543px;
}

.block-button {
    color: white;
    text-decoration: none;
    border: 1px solid gray;
    padding: 12px 18px;
    border-radius: 5px;
    display: inline-block;
}

.plans {
    display: grid;
    justify-content: center;
    margin-bottom: 133px;
}

.plan-container {
    display: flex;
    gap: 18px;
}

.plan {
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 242px;
    padding: 30px 51px 30px 30px;
}

.plans-name {
    color: white;
    font-size: 32px;
    margin: 0 0 32px 0;

}

.plan-name {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.plan-price {
    color: white;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: start;
    gap: 8px;
    margin: 20px 0 17px 0;
}

.plan-price::before {
    content: '$';
    color: gray;
    font-size: 16px;
    align-self: start;
}

ul {
    list-style: none;
}

ul>li {
    padding-left: 20px;
    position: relative;
    margin: 10px;
}

ul>li::before {
    content: '✔ ';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.plan-spec-item {
    color: white;
    line-height: 20px;
    max-width: 200px;
}

.plan-spec {
    margin: 0;
    padding: 0 0 117px 0;
}

.plan-button {
    color: white;
    text-decoration: none;
    border: 1px solid gray;
    padding: 10px 39px;
    display: inline-block;
    border-radius: 5px;
}

.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 133px;
}

.contact-form {
    display: grid;
    gap: 20px;
}

.contact-info {
    margin: 0 294px 0 0;
}

.contact-name {
    color: white;
    font-size: 32px;
    margin: 0 0 16px 0;
}

.contact-description {
    color: gray;
}

.contact-input {
    width: 389px;
    height: 36px;
    background: transparent;
    border: 1px solid gray;
    outline: none;
    padding: 0 11px 0 11px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.contact-textarea {
    height: 66px;
    background: transparent;
    border: 1px solid gray;
    outline: none;
    font-size: 18px;
    padding: 8px 11px 0 11px;
    color: white;
    border-radius: 5px;
}

.contact-button {
    width: 128px;
    height: 44px;
    background: transparent;
    outline: none;
    border: 1px solid gray;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.cta-name {
    color: white;
    font-size: 32px;
    margin: 0 0 16px 0;
}

.cta-button {
    color: white;
    text-decoration: none;
    border: 1px solid gray;
    padding: 10px 39px;
    display: inline-block;
    border-radius: 5px;
}

.cta {
    display: grid;
    justify-content: center;
    margin-bottom: 133px;
}

.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 1024px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-class {
    display: flex;
    justify-content: center;
    gap: 80px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 22px 22px;
    margin-bottom: 24px;
}

.faq {
    max-width: 257px;
    display: flex;
    flex-direction: column;

}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 17px;
    text-decoration: none;
}

.footer-name h3 {
    margin: 0;
    color: white;
}

.footer-image {
    width: 36px;
    height: 36px;
}

.footer-name {
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.footer-description {
    color: gray;
    text-decoration: none;
    line-height: 28px;
}

.footer-description:hover {
    color: white;
}

.info {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
}

.links {
    display: flex;
    gap: 12px;
}

@keyframes animation {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}